* {
    margin: 0;
    padding: 0;
  }

:root {
  --verde-fundo: ;
  --fonte-principal: "Lustria";
  --verde-principal: ;
  --azul-principal: ;
  --verde-secundario: ;
  --link: #0a4804;
}

body{

}

/*Cabeçalho / Header */
.cabecalho{

}


/*seções comuns ou seção 1*/
.secao1{

}


/*rodapé*/
.rodape{

}

ul{
  display: flex;
  vertical-align: top; 
  width:20%;
  margin-right: 15%;
 /* border:3px solid black ;*/
  margin-top: 70px;
  line-height: 1.5;
  font-size: 18px;
}

h2{
  text-align: center;
  font-size: 35px;
}

image.png{
  width: 50%;
}

h1{
  text-align: center;
  font-size: 35px;
}

body{
  background-color: rgb(241, 118, 118);
}

img{
  width: 50px;
}